body {
  background-color: #F3F3EB;
  font-family: "Montserrat";
  overflow: hidden;
}

h5, p {
  color: #4C8C84;
}

section {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

/* NAVBAR */
.navbar {
  background-color: #4C8C84;
}

.container-fluid {
  height: 200px;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  margin-left: 65px;
}

.navbar-toggler {
  height: 40px;
  width: 80px;
  margin: 5px 35px
}

/*Overrides color of Bootstrap elements */
.creamy {
  color: #F3F3EB !important;
  border-color: #F3F3EB !important
}

.creamy:hover {
  color: #FC9A57 !important
}

.logo {
  height: 152px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* INTRO */
.HOME {
  width: 642px;
  padding: 30px;
  text-align: justify;
}

.diag {
  height: 63px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 183px auto;
  padding-right: 214px
}

.photo {
  margin: 0 4px;
  height: 150px;
  border-color: #4C8C84;
  border-style: solid;
  border-width: 2px;
  float: left;
}

.invis {
  display: none
}

/* PORTFOLIO */
.carousel-inner {
  width: 500px;
  margin: 15px auto;
  overflow: visible;
}

.img-project:hover {
  border-style: solid;
  border-color: #FC9A57
}

.carousel-caption {
  line-height: 90%;
  bottom: -55px;
}

@media screen and (min-width:768px) {

  /*Gives space for the logo*/
  .move-left {
    position: relative;
    right: 30%
  }

  .move-right {
    position: relative;
    left: 15%
  }

  .introtext {
    margin-left: 215px;
    width: 80%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .introtext {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .nav-link {
    margin-left: 35px;
  }
}

@media (max-width: 426px) {
  h5 {
    font-size: 90%;
  }

  .logo {
    margin-right: 30px
  }

  .HOME {
    width: 100%;
  }

  .diag {
    padding-right: 0
  }

  .photo {
    margin-right: 30px
  }

  .introtext {
    text-align: left;
  }

  .carousel-inner {
    width: 100%
  }

  .p-caption {
    font-size: 80%;
  }
}

@media (max-width: 376px) {
  .nav-link, .navbar-toggler {
    margin-left: 20px;
  }

  .photo {
    float: none;
    margin-bottom: 20px
  }

  .introtext {
    width: 260px;
  }
}

@media (max-width: 326px) {
  .carousel-caption {
    bottom: -70px
  }
}
